<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthcare Chatbot</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="Text">
        <h3>WELCOME TO MEDBOT</h3>
    </div>
    <div class="backImg"></div>
    <div class="chat-container">
        <div id="chatbox"></div>
        <input class="input-feild" type="text" id="user-input" placeholder="Type a message...">
        <div>
            <button class="btn" onclick="sendMessage()">
                <svg height="24" width="24" fill="#FFFFFF" viewBox="0 0 24 24" data-name="Layer 1" id="Layer_1" class="sparkle">
                    <path d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z"></path>
                </svg>
                <span class="text">Generate</span>
            </button>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            let chatbox = document.getElementById('chatbox');
            chatbox.innerHTML += `<div class="bot-message">Hi, my name is MedBot. I'm your healthcare chatbot. How can I help you today?</div>`;
        });

        function sendMessage() {
            let userMessage = document.getElementById('user-input').value;
            if (userMessage.trim() === "") return;

            let chatbox = document.getElementById('chatbox');
            chatbox.innerHTML += `<div class="user-message">${userMessage}</div>`;

            fetch('/get_response', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: `message=${userMessage}`
            })
            .then(response => response.json())
            .then(data => {
                chatbox.innerHTML += `<div class="bot-message">${data.response}</div>`;
                document.getElementById('user-input').value = '';
                chatbox.scrollTop = chatbox.scrollHeight; // Scroll to the bottom
            });
        }
    </script>
</body>
</html>
